.DS_Store
bfg.jar
release
temp
source/source-han-mono/*
!source/source-han-mono/README.txt
source/source-han-sans/*
!source/source-han-sans/README.txt
source/source-han-serif/*
!source/source-han-serif/README.txt
